/* โซนล่างสำหรับไอคอน */
.bottom-section {
  flex: 1; /* กินพื้นที่ที่เหลือ */
  display: flex;
  justify-content: center; /* ถ้าอยากให้อยู่กลางแนวนอน */
  align-items: center; /* ถ้าอยากให้อยู่กลางแนวตั้ง */
}

/* Grid ไอคอน Inventory, Ticket, User, Warranty */
.icon-grid {
  display: flex;
  gap: 60px;
  justify-content: center; /* จัดเรียงไอคอนให้อยู่กึ่งกลางแนวนอนภายในตัวเอง */
  margin: 150px; /* margin บน 100px เพื่อให้ไอคอนเลื่อนลงมา */
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon-image {
  width: 60px; /* ขนาดไอคอน */
  height: 60px;
  margin-bottom: 10px;
  object-fit: contain;
}

.icon-label {
  font-size: 14px;
  color: #333;
}
